
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e5e5e5, #8281f6, #c1b8c8, #b9e6ff);
    background-size: 200% 100%;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    }
    @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
    }
    @-moz-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
    }
    @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
    }
    /* width */
    ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
    background: black;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #FFD40000;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #EA5E0B00;
    }
    


body, html {
  font-family: helvetica, arial, sans-serif;
  margin: 0px;
}

h1 {
  font-style: italic;
  color: #ff0066;
}

button {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

p {
  background-color: rgba(255,255,255,0.7);
  font-color: black;
}

code {
  background-color: #00000063;
  font-family: InputMono-Regular;
  src: url("InputMono-Regular.ttf");
  font-size : 11px;
  letter-spacing: 0.7px; 
  border: solid white 0px;
  color: #fff;
  text-align: right;
}


canvas {
  overflow-y: hidden;
  position: fixed;
  background-size: cover;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
}


#main {
  position: absolute;
  top: -200px;
  left: 0px;
  z-index: 1;
  max-width: 175px!important; 
  margin-left: 50%;
    text-align: right;
}


.spacer {
/* width: 512px; */
height: 512px;
position: relative;

}

.spacer-small {
height: 233px;
position: relative;
}